@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
@model List<NewsDto>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/Admin/Index.css" />

</head>
<body>
    <div class="container col-12">
        <div class="button">
            <button class="btn"><a asp-action="Create">Add News</a></button>
        </div>
        <div class="all col-12">
        <ul class="header">
            <li><div>News Id</div></li>
            <li><div>News Image</div></li>
            <li><div>News Title</div></li>
            <li class="col-3"><div>News Details</div></li>
            <li><div>News Date</div></li>
            <li><div>Edit</div></li>
            <li><div>Delete</div></li>
        </ul>

            @foreach(var News in Model)
            {
                <ul class="data">
                    <li>@News.Id</li>
                    <li><img src="~/NewsImages/@News.NewsImageString" alt="News Image" /></li>
                    <li>@News.NewsTitle</li>
                    <li class="col-3">@News.NewsDetails</li>
                    <li>@News.NewsDate.ToString("MMMM dd, yyyy")</li>
                    <li><a asp-action="Update" asp-controller="Admin" asp-route-id="@News.Id"><i class="fa-solid fa-pen-to-square" style="color: #50ab49;"></i></a></li>
                    <li><a asp-action="Delete" asp-controller="Admin" asp-route-id="@News.Id"><i class="fa-solid fa-trash" style="color: #de1717;"></i></a></li>
                </ul>
            }

        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
